::-webkit-scrollbar { width: 0; display: none; }

iframe#code, a.submit, a.download  { display: none; }
#right-section { float: none; }
#right-section .padding { margin: 0; }

#example {
	width: 100%; max-width: 640px; min-width: auto;
	z-index: 300; max-height: 100%; 
	position: relative; top: 0; left: 0;
}

.navigation {
	position: absolute; top: 0; left: 0; width: 100%; margin: 0; max-height: 0; overflow: hidden; visibility: hidden;
	font-size: 26px; 
}

.navigation.appear {
	max-height: 4000px; overflow: visible; visibility: visible; 
	background: #fff; 
	padding-top:92px;
	box-shadow: inset 0 92px 0 #000;
}

.navigation.appear ul li a {
	padding: 22px 22px 20px 22px;
}

.navigation ul li {
	display: none;
}

#topbar {
	display: block; width: 100%;
	position: relative; top: 0; z-index: 44440; left: 0;
	padding: 14px; 
	background:transparent; position: fixed;
}

#topbar img {
	position: absolute; top: 18px; left: 14px;
	height: auto; width: 56px;
	cursor: hand; cursor: pointer;
	z-index: 999;
}

#topbar.active img {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.navigation h1 {
	display: none;
}


