@import "fonts.css";
/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html, body {
	height: 100%;
}

body {
	margin: 0;
	font:14px/1.4 "Fakt", "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #282C33;
	position: relative;
	width: 100%;
	max-width: 100%;
}

a {
	text-decoration: none;
	color:#999;
	font-weight: 400;
}

h1 {
	font-size: 13px; font-weight: 600; 
	background: #4DB4EC;
	padding: 30px 20px 25px;
	color: #fff; 
	max-height: 75px;
	text-transform: uppercase; letter-spacing: 2px;
	position: absolute; top: 0; left: 0;
	width: 100%;
	max-width: 290px;
}

h1 a {
	color: #fff; 
	font-weight: 600;
}

.navigation {
	float: left;
	width: 280px; margin-right: -280px;
	background: #fff;
	min-width: 200px;
	height: 100%;
	overflow: hidden;
	z-index: 300;
	position: relative;
	overflow-y: scroll;
	padding-top: 75px;
}

.navigation::-webkit-scrollbar {
	display: none;
}

.navigation ul {
	list-style: none;
}

.navigation ul li {
	line-height: 1.5;
}

.navigation ul li a {
	padding: 14px 20px 9px 20px;
	display: block;
	background: #fff;
}

.navigation ul li.headline {
	padding: 14px 20px 9px 20px;
	background: #fff; font-size: 20px;
	color: #222; font-weight: 300;
}

.navigation ul li a:hover {
	background: #fafafa;
}

.navigation ul li+li {
	border-top: 1px solid #eee;
}

.navigation ul li.active a {
	font-weight: 500;
	background: #fafafa;
	color: #666;
}
.navigation ul {
	margin-bottom: 60px
}

#right-section {
	float: right; width: 100%; height: 100%;
}

#right-section .padding {
	margin-left: 280px; height: 100%;
	position: relative;
}

#code {
	position: absolute; top: 0; left: 0;
	width: 40%; height: 100%;
	background: #1D2026; 
	border: none;
	border-right: 1px solid #252a31;
	min-width: 300px; z-index: 0;
}

#example {
	width: 60%; height: 100%; 
	position: absolute; top: 0; right: 0;
	background: #282C33 url('/static/images/background.png') repeat scroll top left;
	border: none;
	min-width: 400px; 
	z-index: 50;
}

a.download {
	position: absolute; top: 10px; right: 10px;
	padding: 10px 16px 6px;
	border-radius: 4px; 
	z-index: 100;  
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-weight: 500; font-size: 14px;
}

a.download:hover {
	background: rgba(0,0,0,0.8);
}

a.submit {
	position: fixed; bottom: 10px; left: 10px;
	padding: 8px 18px 6px; border-radius: 4px; 
	z-index: 100; background: #b7c5d1;
	color: #fff; width: 270px;
	font-weight: 500; font-size: 15px;
	text-align: center; -webkit-font-smoothing: antialiased;
	box-shadow: 0 -10px 20px #fff, 0 10px 0 #fff, 10px 0 0 #fff, 10px 0 0 #fff, -10px 0 0 #fff;
}

a.submit:hover {
	background: #aabccb;
}

a.submit:active {
	background: #b7c5d1;
}

/* ================= Customs scrollbar ================= */

::-webkit-scrollbar {
	background: #282C33;
	width: 6px;
}
 
 
::-webkit-scrollbar-thumb {
	background: #7f7f7f;
	border-radius: 6px;
}

#topbar {
	display: none;
}

.hide {
	display: none;
}

.show {
	display: block !important;
}
